@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D6D58E;
}
.container {
    background-color: #04294023;
    padding: 10px;
    height: 300px;
    display: flex; /*"Liga" a FlexBox*/
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px 30px;
    border-radius: 10px;
}
.d1 {
    background-color: #DBF227;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

    order: 0;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
    flex: 0 1 auto;
}
.d2 {
    background-color: #9FC131;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

    order: 0;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
    flex: 0 1 auto;
}
.d3 {
    background-color: #005C53;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
    flex: 0 1 auto;
}
.d1, .d2, .d3 {
    width: 50px;
    height: 50px;
}