/*Estilo para Todas as Telas*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 10px;
    text-align: center;
    background-color: #aefcfc;
    border-radius: 10px 10px 0px 0px;
}
header h1 {
    margin-bottom: 10px;
}
body {
    margin: auto;
    max-width: 800px;
    background-color: #2d426e;
}
main {
    border-radius: 0px 0px 10px 10px;
    background-color: aliceblue;
}
article {
    text-align: justify;
}
article h2 {
    padding: 0px;
}
menu {
    padding: 0px;
}
ul {
    padding: 0px;
    list-style-type: none;
}
li {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #2d426e57;
    display: inline-block;
}
.hid {
    display: none;
}