.container {
    background-color: #373737;
    border: 2px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 100px auto 20%;
    gap: 10px;
    height: 60vh;

}
.container div{
    background-color: aliceblue;
    border: 2px solid blue;
    padding: 20px;
}